html {
    font-optical-sizing: auto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
:before,
:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button {
    vertical-align: baseline;
    border: 0;
    padding: 0;
    margin: 0
}


li {
    list-style: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

template,
[hidden] {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    color: inherit
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: 600
}

dfn {
    font-style: italic
}

mark {
    background-color: #ececec;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}


figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
    outline: 0;
}

optgroup {
    font-weight: 700
}

button,
input {
    overflow: visible;
    outline: 0;
}

button,
select {
    text-transform: none
}


button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.grey-bg {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E7E7F1;
    box-shadow: 0px 6px 12px rgba(30, 10, 58, 0.04);
}

.cursor-pointer {
    cursor: pointer;
}

.form-check-input:focus {
    box-shadow: inherit;
}

body {
    font-family: "Inter", sans-serif !important;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
    font-size: 16px;
    color: #120b14;
    margin: 0;
    width: 100%;
}

body h1,
body h2,
body h3,
body p,
body .eyebrow,
body a,
body blockquote,
body cite,
body label,
body figcaption {
    color: #120b14
}

body a::after {
    background-color: #120b14
}


h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 36px;
}

h2 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-weight: 600;
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 15px;
}

h4 {
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    font-size: 16px;
    margin-bottom: 15px;
}

p {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 15px;
}

a {
    border-bottom: none
}

.accordion-button:focus {
    box-shadow: inherit;
}

.container-fluid,
.container {
    padding: 0 !important;
}

.common-gradient {
    background-image: radial-gradient(circle, rgba(255, 168, 240, 1) 30%, rgba(193, 192, 254, 1) 100%);
}

.padd-10-0 {
    padding: 10px 0;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-40-0 {
    margin: 40px 0;
}

.padding-50-15 {
    padding: 50px 15px;
}

.padd-15 {
    padding: 15px;
}

.margin-right-10 {
    margin-right: 10px;
}

.navbar {
    padding: 15px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(110, 126, 174, .08);
}

.navbar-brand img {
    width: 170px;
}

.header-nav li {
    margin-left: 1.6vw;
}

.header-nav li,
.header-nav a {
    display: inline-block;
    color: #120b14;
}

.header-nav a {
    line-height: 1.5;
    margin: 0;
    font-size: 18px;
}

.header-login {
    margin-left: 15px;
}


.hero-section {
    width: 75%;
    padding: 60px 0;
    position: relative;
    margin: auto;
}

.hero-section::after {
    background-image: url("../src/assets/image/surat-skyline.png");
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 300px;
    bottom: 0;
    background-size: 80%;
    z-index: -1;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0.8;
}


.g-btn {
    background-color: #ffc81b;
    border-radius: 100px;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 500;
    color: #120b14;
}

.g-btn-small {
    background-color: #fff3cf;
    font-size: 14px;
}

.g-btn-small-border {
    background-color: transparent;
    border: 1px solid #120b14;
    color: #120b14;
}

.g-font-l {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.g-font-xl {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
}

.g-font-xs {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.g-font-xxs {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.g-font-m {
    line-height: 1.3;
    font-size: 24px;
    font-weight: 700;
}


.job-post-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform .2s ease;
    border-radius: 24px;
}

.job-post-item:hover {
    transform: translateY(-4px);
}

.job-post-item-tags {
    position: absolute;
    z-index: 3;
    top: 15px;
    left: 15px;
    display: inline-block;
    border-radius: 100px;
    background-color: #fff;
    padding: 4px 11px;
    font-size: 12px;
}

.job-post-item-content {
    position: absolute;
    z-index: 1;
    bottom: 35px;
    left: 0;
    margin: 0 15px;
    padding: 15px;
    line-height: 30px;
    background-color: #ffd645;
    border-radius: 15px;
}

.job-post-g-img img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.job-post-section {
    background: radial-gradient(circle, rgba(255, 168, 240, 1) 30%, rgba(193, 192, 254, 1) 100%);
    padding: 30px;
    position: relative;
    border-radius: 16px;
}


.loop-search-input {
    line-height: 1;
    max-width: 100%;
    margin: 0;
    padding: 12px;
    border-radius: 100px;
    background-color: #e6e6ea;
    border: 0;
    outline: 0;
    color: #120b14;
    padding-left: 60px;
}


.loop-search-svg {
    margin: auto;
    flex: 0 0 auto;
    width: 16px;
    margin-right: 6px;
    fill: #888;
    stroke: #888;
    top: 0;
    position: absolute;
    bottom: 0;
    left: 30px;
}

.g-content p {
    display: block;
    margin: .8em 0 0;
}

.g-meta {
    margin-bottom: 5px;
}

.job-post-g-img {
    margin-bottom: 20px;
}

.blogs-for-surat-section .job-post-g-img {
    aspect-ratio: 4 / 3;
    position: relative;
    transition: transform .2s ease;
}

.blogs-for-surat-section-wrap:hover .job-post-g-img {
    transform: translateY(-4px);
}

.blogs-for-surat-section-wrap {
    margin-bottom: 30px;
    position: relative;
}

.blogs-for-surat-section-wrap .g-content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin: -110px auto 0;
    position: relative;
    left: 0;
    width: 93%;
    z-index: 9999;
    border: 1px solid #E7E7F1;
    box-shadow: 0px 6px 12px rgba(30, 10, 58, 0.04);
}

.job-info {
    margin-top: 60px;
}

.job-info-wrap {
    border-radius: 12px;
    padding: 25px;

}

.job-info-pluspoint ul {
    padding: 0 15px;
}

.job-info-pluspoint ul li {
    margin-bottom: 15px;
}


.job-post-social-list ul li {
    margin: 5px 0 5px 10px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

.job-post-social-list ul li a {
    width: 30px;
    height: 30px;
    display: flex;
    text-decoration: none;
    border: 1px solid #120b14;
    color: #120b14;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: all .3s ease;
    line-height: 30px;
}

.job-post-social-list ul li a:hover {
    border-color: #ffc81b;
    color: #ffc81b;
}

.job-post-social-list ul li a:hover .t-text {
    transform: translateX(-50%) translateY(-5px);
    opacity: 1;
    visibility: visible;
}

.fn-svg {
    display: block;
    width: 15px;
    height: 15px;
}

.t-text {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-10px);
    position: absolute;
    bottom: 100%;
    margin-bottom: 10px;
    width: max-content;
    padding: 6px 10px 4px;
    display: block;
    line-height: 15px;
    background-color: #ffc81b;
    border-radius: 13px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--hff);
    color: #fff;
    letter-spacing: .25px;
    left: 50%;
    transition: all .3s ease;
    pointer-events: none;
    max-width: 170px;
    text-align: center;
}


.footer-info .label {
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: #ffc81b;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 15px;
    min-width: 80px;
    text-align: center;
}

.footer-divider {
    height: 70px;
    position: relative;
}


.footer-divider .decor {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    margin-top: -2.5px;
    background-color: #ddd;
    right: 0;
    height: 5px;
    right: 112px;
}

.footer-divider .decor:after {
    width: 5px;
    height: 20px;
    background-color: #ddd;
    right: 0;
    top: 50%;
    margin-top: -10px;
    content: '';
    position: absolute;
}

.footer-totop {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -35px;
    width: 92px;
    height: 70px;
    display: block;
    text-decoration: none;
}

.footer-totop .text {
    display: block;
    color: #444;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    text-orientation: mixed;
    writing-mode: vertical-lr;
    line-height: 1;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 70px;
    text-align: center;
}

.footer-totop .icon {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    border: 3px solid #333;
    border-radius: 100%;
    color: #fff;
    transition: all .3s ease;
}

.footer-totop .fn-svg {
    width: 25px;
    height: 25px;
    display: block;
    transition: all .3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -12px 0 0 -15px;
    transform: rotateY(180deg);
    pointer-events: none;
}

.job-post-contact-list ul li {
    margin-bottom: 8px;
}

.job-post-contact-list ul li span {
    display: inline-block;
    text-align: left;
}

.job-post-inner {
    margin: 20px 0;
}

.job-post-inner-content {
    width: 65%;
    margin-right: 5%;
}

.job-post-inner-image {
    width: 30%;
}

.job-post-inner-content .job-post-item-tags {
    position: inherit;
}

.post-share svg {
    width: 34px;
    fill: #120b14;
}


.post-share a {
    margin: 0 25px;
}

.job-post-inner-resent-wrap {
    transition: transform .2s ease;
}

.job-post-inner-resent-wrap:hover {
    transform: translateY(-4px);
}

.job-post-inner-resent-wrap-img {
    margin-right: 15px;
    aspect-ratio: 4 / 3;
    width: 25%;
}

.job-post-inner-resent-wrap-img img,
.img-set {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    vertical-align: top;
}

.job-post-inner-resent-wrap-des {
    width: 75%;
}

.job-post-inner-resent-wrap-des h3 {
    margin-bottom: 10px;
}

.job-post-search-section-warp {
    width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 25px 60px rgba(113, 106, 147, .2);
    border-radius: 40px;
    border: 1px solid #c6befd;
}

.suggestor-input {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    border: none;
    flex-grow: 1;
    min-width: 145px;
    padding: 8px 0;
}

.job-post-search-section-warp .searchIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.suggestor-dropdown {
    width: 200px;
    flex-grow: inherit;
    margin-right: 40px;
    color: #8e8e8e;
}

.job-post-trending {
    justify-content: center;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.job-post-trending-wrapper {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(30, 10, 58, 0.04);
    border-radius: 12px;
    padding: 10px;
    flex: 0 1 auto;
    cursor: pointer;
    transition: 0.3s;
}

.job-post-trending-wrapper:hover {
    box-shadow: 0px 10px 16px rgba(30, 10, 58, 0.09);
}

.job-post-trending .job-post-trending-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
    background-color: #e7e7e7;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    font-size: 16px;
}

.job-post-trending .job-post-trending-label {
    line-height: 20px;
    margin-right: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95px;
}

.job-popular-section-wrap {
    border: 1px solid #E7E7F1;
    box-shadow: 0px 6px 12px rgba(30, 10, 58, 0.04);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.job-popular-section-wrap-ico {
    margin-right: 15px;
}

.job-popular-section-wrap-ico img {
    width: 50px;
}


.job-featured-section-wrap {
    padding: 20px;
    border: 1px solid #E7E7F1;
    box-shadow: 0px 6px 12px rgba(30, 10, 58, 0.04);
    border-radius: 12px;
    background-color: #fff;
}


.job-featured-section-wrap-ico img {
    width: 100px;
    max-height: 100px;
    border-radius: 6px;
}

.job-post-inner-wrap-filter {
    margin-bottom: 15px;
}

.job-post-inner-wrap-filter h4 {
    margin-bottom: 10px;
}

.job-post-inner-wrap-filter-type-btn div {
    border: 1px solid #e2e5ef;
    cursor: pointer;
    margin: 4px 4px 4px 0;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.job-post-inner-wrap-filter-type-btn div.active {
    border-color: #ffc81b;
    color: #ffc81b;
}

.job-post-inner-wrap-filter-type-btn div input {
    margin-right: 6px;
}


.job-post-inner-wrap {
    width: 100%;
    border: 1px solid #e9ecf5;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(110, 126, 174, .08);
    padding: 20px;
    overflow: hidden;
    background-color: #fff;
}

.job-post-company-info img {
    margin-right: 20px;
    width: 80px;
    max-height: 80px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.company-name h4 {
    margin-bottom: 8px;
}

.job-post-company-des>div,
.job-highlights>div {
    margin-bottom: 15px;
}

.job-post-company-des>div img,
.job-highlights>div img {
    vertical-align: middle;
    margin-right: 8px;
    border: 1px solid #ffc81b;
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 6px;
}

.job-post-company-des>div:last-child,
.accordion-body p {
    margin-bottom: 0;
}

.job-openings {
    padding: 2px 10px;
    border: 2px solid #ffc81b;
    display: inline-block;
    border-radius: 6px;
    font-weight: 500;
}

.job-post-company-more {
    position: absolute;
    right: 0;
    width: 40px;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e9ecf5;
}

.job-post-inner-wrap-list h3 {
    margin-bottom: 15px;
}

.job-post-inner-wrap-list .job-post-inner-wrap {
    margin-bottom: 20px;
}

.job-post-inner-wrap-list .job-post-inner-wrap:last-child {
    margin-bottom: 0;
}

.job-tags .job-openings {
    margin-right: 8px;
}

.job-cta .g-btn-small {
    font-size: 18px;
    background-color: #008069;
    color: #fff;
}

.border-top {
    border-top: 1px solid #e9ecf5;
    position: relative;
}

.border-top::before {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffc81b;
    border-radius: 25px;
    content: '';
    top: -5px;
}

.accordion-button {
    font-weight: 500;
    padding: 10px 15px;
    box-shadow: inherit !important;
}

.accordion-button:not(.collapsed) {
    background-color: #f5f5f5;
    color: #120b14;
}

.job-highlights ul li {
    margin-bottom: 15px;
    margin-left: 25px;
    position: relative;
    line-height: 1.5;
}

.job-highlights ul li::before {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid#64748b;
    border-radius: 25px;
    content: '';
    top: 10px;
    left: -18px;
}

.job-post-inner-ads img,
.w100 {
    width: 100%;
}

.text-danger {
    margin-top: 6px;
    font-size: 14px;
}


.job-filter-btn,
.filter-close,
.mobile-menu {
    display: none;
}

.filter-data,
.open-menu {
    overflow: hidden;
}

.upcoming-events-section {
    background: #faebd7;
    padding: 70px;
}

.upcoming-events-section .shape-fill {
    fill: #fbfbfd;
    transform-origin: center;
    transform: rotateY(0deg);
}

.upcoming-events-section svg {
    width: 100%;
    position: absolute;
    left: 0;
    height: auto;
}

.upcoming-events-section .shape-top {
    top: 0;
}

.upcoming-events-section .shape-bottom {
    bottom: -6px;
}

.upcoming-events-section .shape-bottom .shape-fill {
    fill: #faebd7;
}

.innrt-page-heading {
    padding: 30px 25px;
    position: relative;
}

.career-advice-topic {
    position: relative;
}

.footer {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    background: #fff;
}

.career-advice-section-wrap:hover h3 {
    color: #ffc81b;
    text-decoration: underline;
}

.inner-page .career-advice-topic {
    margin-top: 25px;
}

.content-represent-des {
    padding: 0 30px;
    position: relative;
}

.content-represent-des-tag {
    padding-bottom: 2px;
    border-bottom: 1px solid #ababab;
    margin-left: 5px;
}

.font16 {
    font-size: 16px;
}

.paying-sectors-wrap p {
    padding: 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.paying-sectors-wrap p:last-child {
    border-bottom: 0;
}

.paying-sectors-wrap h3 {
    padding: 15px;
    padding-bottom: 0px;
}

.innrt-page-heading::before {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 60px solid #ffffff8a;
    content: "";
    position: absolute;
    top: 0;
    right: 20%;
    margin: auto;
}

.professional-journey .content-represent-des::after {
    width: 50px;
    height: 50px;
    background-image: url("../src/assets/image/arrow.png");
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;
    margin: auto;
    background-size: 40%;
    background-repeat: no-repeat;
}

.content-represent-des {
    padding: 0;
}

.content-represent-des-wrap-img {
    width: 25%;
}

.content-represent-des-wrap-des {
    width: 75%;
    padding-left: 25px;
}

.table tr {
    border-color: #dee2e6;
    border-width: 1px 0;
    border-style: solid;
}

.table tr td {
    border-color: #dee2e6;
    border-width: 0 1px;
    border-style: solid;
}

.table thead tr td {
    background: transparent;
    font-size: 18px;
}

.surat-blog-inner .job-post-inner-resent-wrap {
    min-height: 235px;
}

.cta-btn {
    border-radius: 12px;
    padding: 30px;
}

.cta-btn .g-btn {
    font-size: 22px;
    padding: 15px 30px;
    background: #f5f5f5;
}

.job-roles {
    height: 250px;
    overflow-y: scroll;
}

.job-popular-section-wrap-des h3 {
    margin-bottom: 4px;
}

.footer-copyright {
    padding-bottom: 15px;
}

.modal-content {
    border: 5px solid rgb(255 255 255 / 30%);
    border-radius: 12px;
}

.navbar-brand {
    height: 45px;
}

.alert-mgs {
    font-size: 14px;
    color: red;
}

.carousel-control-next,
.carousel-control-prev {
    width: 30px;
    height: 30px;
    background-color: rgba(30, 10, 58, 0.5);
    border-radius: 100px;
    opacity: 1;
    box-shadow: 0px 6px 12px rgba(30, 10, 58, 0.04);
    top: 150px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 20px;
    height: 20px;
}

.carousel-control-prev {
    left: -15px;
}

.carousel-control-next {
    right: -15px;
}

.main-bg {
    background: linear-gradient(180deg, #f5f4fa, rgba(251, 251, 253, 0));
}

.content-represent-img {
    margin: 15px 0 25px 0;
}

.content-represent {
    margin-top: 25px;
}

.loader-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    align-items: center;
    touch-action: none;
    justify-content: center;
    background-color: rgb(0 0 0 / 70%);
    z-index: 999999;
}

.loader {
    width: 60px;
    aspect-ratio: 1;
    display: grid;
    grid: 50%/50%;
    border-radius: 50%;
    background: #ffc81b;
    animation:
        l9-0 1.5s infinite steps(1) alternate,
        l9-0-0 3s infinite steps(1) alternate;
}

.loader::before {
    content: "";
    background: #fff;
    border-top-left-radius: 100px;
    transform: perspective(150px) rotateY(0deg) rotateX(0deg);
    transform-origin: bottom right;
    animation: l9-1 1.5s infinite linear alternate;
}

@keyframes l9-0 {
    0% {
        background-position: 0 100%, 100% 100%, 100% 0
    }

    33% {
        background-position: 100% 100%, 100% 100%, 100% 0
    }

    66% {
        background-position: 100% 0, 100% 0, 100% 0
    }
}

@keyframes l9-0-0 {
    0% {
        transform: scaleX(1) rotate(0deg)
    }

    50% {
        transform: scaleX(-1) rotate(-90deg)
    }
}

@keyframes l9-1 {
    16.5% {
        transform: perspective(150px) rotateX(-90deg) rotateY(0deg) rotateX(0deg);
        filter: grayscale(0.8)
    }

    33% {
        transform: perspective(150px) rotateX(-180deg) rotateY(0deg) rotateX(0deg)
    }

    66% {
        transform: perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(0deg)
    }

    100% {
        transform: perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(-180deg);
        filter: grayscale(0.8)
    }
}


.toast-info {
    background-color: #49c4e8;
}

.toast-error {
    background-color: #f73a30;
}

.toast-success {
    background-color: #4ace4a;
}

.header-login .g-btn {
    padding: 6px 12px;
}

.accordion-button {
    font-size: inherit;
}

.accordion-body {
    padding: 10px;
}

accordion-button::after {
    width: 15px;
    height: 15px;
    background-size: inherit;
}

@media screen and (max-width: 1400px) {

    body,
    .g-font-xxs {
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
    }

    h2,
    .g-font-m,
    .g-font-l {
        font-size: 22px;
    }

    h3,
    .g-font-xs {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    .g-font-xl {
        font-size: 20px;
    }

    .hero-section {
        width: 100%;
    }

    .job-popular-section-wrap-des i {
        font-size: 10px;
    }

    .job-popular-section-wrap-des h3 {
        margin-bottom: 4px;
        letter-spacing: 0.5px;
    }

    .header-login {
        margin-left: 5px;
    }

}

@media screen and (max-width: 1200px) {

    .container {
        max-width: 100%;
    }

    h3 {
        margin-bottom: 10px;
    }

    .margin-bottom-60 {
        margin-bottom: 30px !important;
    }

    .margin-top-30 {
        margin-top: 30px;
    }

    .margin-bottom-30 {
        margin-bottom: 20px !important;
    }

    .g-btn,
    .job-cta .g-btn-small {
        font-size: 16px;
    }

    .p-5 {
        padding: 2rem !important;
    }

    .hero-section {
        width: 100%;
        padding: 40px 0;
    }

    .job-post-search-section-warp {
        width: 70%;
        padding: 8px 14px;
    }

    .suggestor-input {
        font-size: 16px;
        padding: 7px 0;
    }

    .job-post-search-section-warp .searchIcon {
        width: 20px;
        height: 20px;
    }

    .job-featured-section-wrap {
        padding: 15px;
    }

    .job-post-social-list ul li {
        margin: 5px 0 5px 5px;
    }

    .job-info-pluspoint ul {
        padding: 0;
    }


    .job-popular-section-wrap-ico img {
        width: 45px;
    }

    .job-popular-section-wrap {
        padding: 15px;
    }

    .job-post-section,
    .job-popular-section,
    .job-featured-section,
    .hair-clinic-hair-problem,
    .job-info,
    .job-info-pluspoint,
    .footer,
    .upcoming-events-section {
        padding: 25px;
    }

    .job-popular-section,
    .job-info,
    .footer,
    .job-info-pluspoint,
    .job-post-inner,
    .blogs-for-surat-section,
    .innrt-page-content {
        padding: 0 25px;
    }

    .footer-info>div {
        flex-basis: 33.33%;
        padding-right: 10px;
    }

    .footer-divider {
        height: 54px;
        position: relative;
    }

    .footer-totop .icon {
        width: 50px;
        height: 50px;
        border: 3px solid #333;
        top: 8px;
        right: 10px;
    }

    .footer-totop .fn-svg {
        width: 25px;
        height: 25px;
        margin: -12px 0 0 -15px;
    }

    .footer {
        padding-top: 15px !important;
        margin-top: 0;
    }

    .job-info {
        margin-top: 0;
    }

    .job-post-section {
        margin: 0 25px;
    }

}

@media screen and (max-width: 991px) {

    .margin-top-30 {
        margin-top: 20px;
    }

    .surat-blog-inner {
        margin-bottom: 0 !important;
    }

    .job-featured-section-wrap {
        margin-bottom: 30px;
    }

    .job-popular-section h2 {
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
    }

    .job-popular-section h2 br {
        display: none;
    }

    .footer-info {
        flex-direction: column;
        align-items: self-start !important;
    }

    .footer-info>div {
        margin-bottom: 30px;
    }

    .footer-info>div:last-child {
        margin-bottom: 0;
    }

    .job-info-wrap .col-lg-3 {
        margin-bottom: 20px;
    }

    .hero-section::after {
        bottom: -170px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .header-nav ul {
        text-align: left;
        position: fixed;
        width: 275px;
        background: #f5f5f5;
        top: 65px;
        z-index: 999;
        right: -275px;
        box-shadow: 0px 6px 12px rgba(30, 10, 58, 0.04);
        border: 1px solid #ddd;
        height: calc(100vh - 60px);
        transition: all 0.5s ease 0s;
    }

    .navbar {
        padding: 10px;
    }

    .g-btn,
    .header-nav a,
    .job-cta .g-btn-small {
        font-size: 14px;
    }

    .job-filter {
        transition: all 0.5s ease 0s;
        position: fixed;
        right: -300px;
        z-index: 9;
        width: 300px;
        top: 65px;
    }

    .job-filter-btn {
        position: absolute;
        right: 0;
        top: -6px;
        display: block;
    }

    .filter-data .job-filter {
        right: -13px;
    }

    .filter-data .job-filter .filter-close {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 18px;
    }

    .filter-data .job-filter .job-post-inner-wrap {
        border-radius: 0;
        overflow-y: scroll;
        height: calc(100vh - 55px);
        position: relative;
        padding-right: 15px;
        background-color: #f5f5f5;
        padding: 10px;
        padding-bottom: 70px;
    }

    .surat-blog-inner .job-post-inner-resent-wrap {
        min-height: auto;
    }

    .cta-btn {
        display: inline-block !important;
        text-align: center;
        width: 100%;
    }

    .cta-btn .g-btn {
        margin-top: 15px;
        font-size: 20px;
        padding: 10px 20px;
    }

    .professional-journey .content-represent-des::after {
        display: none;
    }

    .mobile-menu {
        display: block;
        font-size: 20px;
    }

    .open-menu .header-nav ul {
        right: 0;
    }

    .open-menu .header-nav ul::after {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #ddd;
        content: "";
        position: absolute;
        top: -8px;
        left: 30px;
        margin: auto;
        z-index: 9999;
    }

    .header-nav ul li {
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 8px 16px;
        margin: 0;
    }

    .header-nav ul li:last-child {
        border-bottom: 0;
    }

    .job-filter-btn .g-btn {
        padding: 5px 10px;
    }

    .job-post-inner-ads {
        margin-top: 15px;
    }

    .blogs-for-surat-section-wrap .g-content {
        margin: -70px auto 0;
    }

    .blogs-for-surat-section-wrap {
        margin-bottom: 0;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: -55px;
    }

    .job-post-trending {
        flex-wrap: wrap;
        gap: 5px;
    }

    .job-post-trending-wrapper {
        padding: 5px;
    }

    .job-post-trending .job-post-trending-label {
        font-size: 14px;
    }

    .job-post-trending .job-post-trending-logo {
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        font-size: 14px;
    }

    .job-popular-section-wrap {
        margin-bottom: 10px;
    }

    .content-represent-img {
        margin: 0 0 15px 0;
    }


    .innrt-page-heading::before {
        display: none;
    }

    .job-post-section img {
        display: none;
    }

    .job-post-inner-wrap-filter-type-btn div {
        margin: 2px 2px 2px 0;
    }

    .job-filter .g-btn-small-border {
        padding: 6px 12px;
    }

}


@media screen and (max-width: 767px) {
    .content-represent-des-wrap-img {
        width: 40%;
    }

    .content-represent-des-wrap-des {
        width: 60%;
        padding-left: 15px;
    }

    .career-advice-section .job-post-g-img {
        margin-bottom: 10px;
    }

    .career-advice-section .career-advice-section-wrap {
        margin-bottom: 25px;
    }

    .career-advice-section .g-content p {
        margin-top: 0;
    }

    .job-post-inner-resent-wrap {
        margin-bottom: 15px;
    }

    .job-post-company-more {
        width: 30px;
    }

    .job-post-inner-wrap {
        padding: 15px;
    }

    app-job-search .job-post-inner-wrap {
        padding-right: 50px;
    }


    .blogs-for-surat-section-wrap .g-content {
        padding: 8px;
        margin: 0;
        min-height: 55px;
        width: 100%;
    }

    .blogs-for-surat-section-wrap .g-content h3,
    .blogs-for-surat-section-wrap {
        margin-bottom: 0;
    }

    .blogs-for-surat-section-wrap .g-content p {
        display: none;
    }

    .blogs-for-surat-section-wrap .job-post-g-img {
        margin-bottom: 0;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: -50px;
        width: 20px;
        height: 20px;
    }

    .carousel-control-prev {
        left: 5px;
    }

    .carousel-control-next {
        right: 5px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-position: 50%;
        background-size: 70% 70%;
    }

    .job-info-wrap {
        padding: 20px !important;
    }


    .job-post-section h2 {
        margin-top: 0 !important;
    }

    .cta-btn .g-btn {
        font-size: 16px;
    }

    .modal-footer {
        justify-content: center !important;
    }

    .upcoming-events-section-wrap {
        margin-bottom: 20px;
    }

    .job-post-g-img {
        margin-bottom: 10px;
    }

    .upcoming-events-section-wrap .g-content p {
        margin: 0;
    }

}


@media screen and (max-width: 550px) {
    h1 {
        font-size: 22px;
    }

    body,
    .g-font-xxs,
    p {
        font-size: 13px;
    }

    p {
        margin-bottom: 10px;
    }

    h2,
    .g-font-m,
    .g-font-xl {
        font-size: 16px;
    }

    h3,
    .g-font-xs {
        font-size: 14px;
    }

    .g-font-l {
        font-size: 16px;
    }

    .job-post-section h2 {
        margin-bottom: 10px !important;
    }

    .inner-page .career-advice-topic {
        margin-top: 10px;
    }

    .margin-40-0 {
        margin: 25px 0;
    }

    .navbar {
        padding: 10px;
    }

    .navbar-brand img {
        width: 125px;
    }

    .header-nav a {
        padding: 4px 8px;
    }


    .innrt-page-heading {
        padding: 20px 10px;
    }

    .hero-section {
        width: 90%;
        padding: 20px 0;
    }

    .hero-section .g-font-l {
        font-size: 16px;
    }

    .footer-info>div {
        margin-bottom: 10px;
    }

    .job-post-section,
    .job-popular-section,
    .job-featured-section,
    .hair-clinic-hair-problem,
    .job-info,
    .job-post-inner,
    .job-info-pluspoint,
    .footer,
    .blogs-for-surat-section,
    .innrt-page-content {
        padding: 0 15px;
    }

    .job-post-section,
    .job-featured-section,
    .upcoming-events-section {
        padding: 15px;
    }

    .job-featured-section-wrap {
        margin-bottom: 20px;
    }

    .job-post-search-section-warp {
        width: 100%;
        padding: 8px 10px;
    }

    .job-popular-section-wrap-des h4 {
        margin-bottom: 0;
    }


    .job-post-inner-resent-wrap-img {
        width: 35%;
    }

    .job-post-inner-resent-wrap-des {
        width: 65%;
    }

    .job-filter-btn .g-btn {
        padding: 4px 8px;
    }

    .job-cta {
        text-align: center !important;
    }

    .call-btn {
        display: inline-block;
    }

    .navbar-brand {
        height: 31px;
    }

    .blogs-for-surat-section-wrap .job-post-g-img img {
        border-radius: 12px 12px 0 0;
    }

    .blogs-for-surat-section-wrap .g-content {
        min-height: 55px;
        border-radius: 0 0 12px 12px;
    }

    .job-filter {
        top: 53px;
    }

    .job-popular-section-wrap {
        flex-direction: column;
    }

    .job-popular-section-wrap-ico {
        margin: 0 0 8px 0;
    }

    .job-post-section {
        margin: 0 15px;
    }

    .cta-btn .g-btn {
        padding: 8px 16px;
    }

    .footer-copyright p,
    .job-info-testimonials p,
    .content-represent-des-wrap-des p {
        margin-bottom: 0;
    }

    .header-nav ul {
        top: 52px;
    }

    .header-nav ul::after {
        left: 70px;
    }

    .job-post-company-info img {
        width: 60px;
        max-height: 60px;
    }

    .job-post-trending {
        margin-bottom: 0;
    }

    .suggestor-input {
        font-size: 14px;
    }

    .job-popular-section .row,
    .job-featured-section .row,
    .blogs-for-surat-section .row,
    .upcoming-events-section .row {
        margin: 0 -7px;
    }

    .job-popular-section .col-6,
    .job-featured-section .col-6,
    .blogs-for-surat-section .col-4, 
    .upcoming-events-section .col-6 {
        padding: 0 7px;
    }

    .header-login .g-btn {
        padding: 5px 10px;
    }

    .content-represent-des-wrap-img,
    .content-represent-des-wrap-des {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .content-represent-des-wrap {
        display: inline-block !important;
    }

    .content-represent-des-wrap-img {
        margin-bottom: 10px;
    }

    .content-represent-des-wrap-des h2 {
        margin-bottom: 10px;
    }

    .professional-journey .content-represent-des,
    .highest-paying .content-represent-des,
    .paying-sectors-wrap,
    .food-surat .content-represent-des,
    .surat-weather .content-represent-des, 
    .smc .content-represent-des
    {
        margin-bottom: 30px;
    }
    
    .surat-place .content-represent-des-wrap-des, .smc .content-represent-des-wrap-des{
        margin-bottom: 20px;
    }


    .inner-page h2 {
        margin-bottom: 10px;
    }

    .content-represent-des-tag {
        margin: 0;
    }

    .job-popular-section, .job-featured-section .row{
        margin-bottom: 10px !important;
    }

    .hero-section {
        margin-bottom: 20px !important;
    }

    .footer-totop .text {
        font-size: 12px;
    }

    .blogs-for-surat-section-wrap .g-content {
        box-shadow: inherit;   
    }

    .job-tags .job-openings {
        margin-right: 5px;
    }
    .job-openings {
        padding: 2px 5px;
    }

    .job-post-inner-wrap {
        padding: 10px;
    }

    app-job-search .job-post-inner-wrap {
        padding-right: 32px;
    }

}

@media screen and (max-width: 350px) {

    .navbar-brand {
        padding: 0;
        margin: 0;
    }

    .header-nav a {
        font-size: 13px;
    }

    .blogs-for-surat-section-wrap .g-content h3 {
        font-size: 12px;
    }

    .job-tags .job-openings {
        font-size: 12px;
    }
}