<div class="inner-page career-advice-section margin-bottom-60">
    <div class="innrt-page-heading common-gradient">
        <div class="container">
            <h1>Career Guide</h1>
        </div>
    </div>

    <div class="innrt-page-content">
        <div class="container">
            <div class="career-advice-topic">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="career-advice-section-wrap cursor-pointer" routerLink="/starting-your-professional-journey">
                            <div class="job-post-g-img">
                                <img src="../assets/image/professional-journey.png" alt="Starting Your Professional Journey">
                            </div>
                            <div class="g-content">
                                <h2>Starting Your Professional Journey</h2>
                                <p>
                                    Embarking on your professional journey can feel overwhelming, but the right strategies can set you on the path to a successful career. Whether you're a fresh graduate or considering a career switch, here’s a comprehensive guide to help you kick-start your professional life.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="career-advice-section-wrap cursor-pointer" routerLink="/highest-paying-jobs-in-india">
                            <div class="job-post-g-img">
                                <img src="../assets/image/highest-paying-jobs-india.png" alt="Highest Paying Jobs In India">
                            </div>
                            <div class="g-content">
                                <h2>Highest Paying Jobs In India</h2>
                                <p>Looking for a high-paying career in India? Here’s a comprehensive guide to the top professions with lucrative salary packages across various industries. Whether you’re starting your career or considering a change, this list covers jobs that offer excellent earning potential.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="career-advice-section-wrap cursor-pointer" routerLink="/top-business-in-surat">
                            <div class="job-post-g-img">
                                <img src="../assets/image/top-business-in-surat.png" alt="Top Business In Surat">
                            </div>
                            <div class="g-content">
                                <h2>Top Business In Surat</h2>
                                <p>Surat, famously known as the "Diamond City" and "Silk City" of India, is a significant economic hub. With a rich history in textiles and diamonds, Surat is also growing in IT, real estate, and other sectors. Below is a guide to the top industries in Surat, each offering various job opportunities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>