<div class="job-post-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8" *ngIf="jobDetails">
                <div class="job-post-inner-wrap-list">
                    <div class="job-post-inner-wrap position-relative">
                        <div class="job-post-company-info margin-bottom-15 d-flex align-items-center">
                            <img alt="company-logo" src="{{jobDetails.companyId.companyLogo}}">
                            <div class="company-name">
                                <h3 class="m-0">{{jobDetails.title}}</h3>
                                <div class="company-salary g-font-xxs">
                                    <b><span>₹</span>{{jobDetails.salary - 5000}}</b> -
                                    <b><span>₹</span>{{jobDetails.salary}}</b>/Month
                                </div>
                            </div>
                        </div>
                        <div class="job-post-company-des">
                            <div class="job-organization d-flex align-items-center">
                                <img alt="company logo" src="../assets/image/company-icon.svg">
                                {{jobDetails.companyId.companyName}}
                            </div>
                            <div class="job-locality d-flex align-items-center">
                                <img alt="location icon" src="../assets/image/location-icon.svg">
                                {{jobDetails.companyId.companyAddress}}
                            </div>
                            <div class="job-experience d-flex align-items-center">
                                <img alt="experience icon" src="../assets/image/experience-icon.svg">
                                <ng-container *ngIf="jobDetails.experience.max == 0">
                                    Fresher in Experience {{jobDetails.category}}
                                </ng-container>
                                <ng-container *ngIf="jobDetails.experience.max == 0.5">
                                    6 Months in Experience {{jobDetails.category}}
                                </ng-container>
                                <ng-container *ngIf="jobDetails.experience.max == 1">
                                    {{jobDetails.experience.max}} Year in Experience {{jobDetails.category}}
                                </ng-container>
                                <ng-container *ngIf="jobDetails.experience.max > 1">
                                    {{jobDetails.experience.max == 5 ? jobDetails.experience.max + '+ Years' :
                                    jobDetails.experience.max + ' Years'}} in Experience {{jobDetails.category}}
                                </ng-container>
                            </div>
                            <div class="d-flex job-tags">
                                <div class="job-openings">{{jobDetails.vacancies}} Vacancies</div>
                                <div class="job-openings">{{jobDetails.type}}</div>
                            </div>
                            <div class="job-skills"><b>Skills :</b> {{jobDetails.skills}} </div>
                            <div class="job-cta text-end">
                                <a class="g-btn g-btn-small margin-right-10 call-btn" href="https://wa.me/{{jobDetails.companyId.companyPhone}}?text=Hello!%20I'm%20interested%20in%20job%20opportunities%20for%20the%20{{jobDetails.title}}%20position%20posted%20on%20your%20Surat%20job%20portal." target="_blank">whatsApp</a>
                                <a class="g-btn cursor-pointer" data-bs-toggle="modal" data-bs-target="#applyNow">Apply Now</a>
                            </div>

                            <div class="job-highlights border-top margin-bottom-30">
                                <h4 class="margin-top-25 margin-bottom-15">Job Highlights</h4>
                                <div class="d-flex align-items-center">
                                    <img alt="industry icon" src="../assets/image/industry-icon.svg">
                                    {{jobDetails.industry}}
                                </div>
                                <div class="d-flex align-items-center">
                                    <img alt="educate icon" src="../assets/image/educate-icon.svg">
                                    {{jobDetails.qualification}}
                                </div>
                                <div class="d-flex align-items-center">
                                    <img alt="gender icon" src="../assets/image/gender-icon.svg">
                                    {{jobDetails.genders}}
                                </div>
                                <div class="d-flex align-items-center">
                                    <img alt="shift icon" src="../assets/image/shift-icon.svg">
                                    {{jobDetails.jobTime}}
                                </div>
                                <div class="d-flex align-items-center">
                                    <img alt="benefits icon" src="../assets/image/benefits-icon.svg">
                                    <b class="content-represent-des-tag m-0">Job Benefits:</b>&nbsp;
                                    <ng-container *ngFor="let benefits of jobDetails.jobBenefits | keyvalue">
                                        {{benefits.key | formatText}},
                                    </ng-container>
                                </div>
                                <div class="d-flex align-items-center">
                                    <img alt="asset icon" src="../assets/image/asset-icon.svg">
                                    <ng-container *ngFor="let item of jobDetails.asset | keyvalue">
                                        {{item.key | formatText}},
                                    </ng-container>
                                </div>
                            </div>
                            <div class="job-highlights border-top margin-bottom-30">
                                <h4 class="margin-top-25 margin-bottom-15">Job Description</h4>
                                <ul>
                                    <li *ngFor="let item of jobDetails.jobDescription">{{item}}</li>
                                </ul>
                            </div>

                            <div class="job-highlights border-top margin-bottom-30">
                                <h4 class="margin-top-25 margin-bottom-15">Other Details</h4>
                                <ul>
                                    <li>{{jobDetails.otherDetails}}</li>
                                </ul>
                            </div>

                            <div class="job-more-about border-top margin-bottom-30">
                                <h4 class="margin-top-25 margin-bottom-15">More about this Grocery Delivery Executive
                                    job</h4>
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item"
                                        *ngFor="let faqs of jobDetails.faqsAboutJob; index as i">
                                        <div class="accordion-header" [id]="'headingOne' + i">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                {{faqs.question}}
                                            </button>
                                        </div>
                                        <div [id]="'collapseOne' + i" class="accordion-collapse collapse"
                                            [attr.aria-labelledby]="'headingOne' + i"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>{{faqs.answer}}</p>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="job-contact border-top">
                                <h4 class="margin-top-25 margin-bottom-15">Contact Person</h4>
                                <div class="g-font-xxs">{{jobDetails.contactPerson}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="job-post-inner-ads">
                    <img class="margin-bottom-15 img-set" src="../assets/image/ads1.png">
                    <img class="img-set" src="../assets/image/ads2.jpg">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNowLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form #jobForm="ngForm" (ngSubmit)="applyForJob()">
                <div class="modal-header">
                    <h5 class="modal-title" id="applyNowLabel">Apply For - {{jobDetails?.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="jobApplyObj.fullName" #fullName="ngModel">
                    </div>

                    <div class="mb-3">
                        <label for="mobileNo" class="form-label">Mobile No.</label>
                        <input type="text" class="form-control" id="mobileNo" name="mobileNo" [(ngModel)]="jobApplyObj.mobileNo" #mobileNo="ngModel">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="jobApplyObj.email" #email="ngModel">
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <div class="alert-mgs">After apply company will contact you!</div>
                    <button type="submit" class="g-btn">Apply Now</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="loader-wrap"  *ngIf="isLoader">
    <div class="loader"></div>
</div>